[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pylint = "*"
twine = "*"
travis = "*"
flake8 = "*"

[packages]
greenswitch = "*"
jaspion = {editable = true,path = "."}
click = "*"

[requires]
python_version = "3.7"
